/* Main stylesheet for FlutterDash Factor
   Written by: DeltaPHC */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
	margin: 0;
	padding: 0;
	background-color: #303030;
	color: #f0f0f0;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

section#content {
	margin: 0;
	padding: 0.5rem;
	position: fixed;
	left: 0;
	top: 3rem;
	right: 0;
	bottom: 0;
	overflow: auto;
	backface-visibility: hidden; /* Boosts scroll performance on slower machines */
}

nav {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	height: 3rem;
	line-height: 3rem;
	border-bottom: 1px solid #505050;
	background-color: #4a4a4a;
	z-index: 9999;
}

nav ul {
	margin: 0;
	padding: 0;
	line-height: 3rem;
	height: 3rem;
	list-style-type: none;
	overflow: hidden;
}

nav ul li {
	margin: 0;
	padding: 0 0.5rem 0 0.5rem;
	float: left;
	line-height: 3rem;
	height: 3rem;
}

nav ul li:hover {
	background-color: #505050;
	cursor: pointer;
}

nav ul li ul {
	display: none;
}

nav ul li:hover ul {
	display: block;
	margin: 0 0 0 -0.5rem;
	padding: 0;
	background-color: #4a4a4a;
	position: absolute;
	width: 400px;
	height: auto;
	list-style-type: none;
	border: 1px solid #505050;
}

nav ul li:hover ul li {
	float: none;
	display: block;
	line-height: 1rem;
	height: auto;
	margin: 0;
	padding: 0.5rem;
}

nav li#navlogo {
	line-height: 3rem;
}

nav li#navlogo a, nav li#navlogo a:hover {
	text-decoration: none;
	color: #f0f0f0;
}

nav li#navlogo span {
	margin: 0;
	padding: 0.5rem;
	font-size: 2rem;
}

nav li#navlogo .yellowback {
	background-color: #F1E8AF;
	color: #303030;
}

nav li#navlogo .blueback {
	background-color: #95DBFF;
	color: #303030;
}

nav li#navlogo .greyback {
	background-color: #404040;
}

footer {
	margin-top: 2rem;
	font-size: 0.8rem;
}

a {
	color: #8080f0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	background-image: url(img/HeadingLine.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	margin: 0;
	padding: 0 0 4px 0;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1rem; }
h4 { font-size: 0.5rem; }
h5 { font-size: 0.3rem; }
h6 { font-size: 0.2rem; }

section.episodes {
	
}

article.episode h2 {
	background-image: none;
	padding: 0;
}

article.episode {
	clear: both;
	background-color: #404040;
	padding: 0.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

article.episode:nth-of-type(odd) {
	background-image: url(img/FluttershyBG.png);
	background-repeat: no-repeat;
	background-position: right 16px;
}

article.episode:nth-of-type(even) {
	background-image: url(img/RainbowDashBG.png);
	background-repeat: no-repeat;
	background-position: right 16px;
}

article.episode:after {
	content: "";
	display: table;
	clear: both;
}

section.point {
	font-size: 0.85rem;
	clear: both;
}

section.point img {
	width: 30%;
	float: left;
	margin: 0.5rem;
}

section.point p {
	padding: 0;
	margin: 0.25rem;
}

section.facts {
	width: 30%;
	float: left;
	margin: 0.5rem 0 0 0;
	padding: 0.5rem;
	background-color: #4a4a4a;
}

section.interpretation {
	width: 30%;
	float: left;
	margin: 0.5rem 0 0 0;
	padding: 0.5rem;
	background-color: #504040;
}
